.cardContainer{
  display: flex;
  gap: 5rem;
  padding: 4rem 7rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productCard {
  width: 28rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.productImage {
  width: 28rem;
  height:28rem;
  object-fit: cover;
  overflow: hidden;
}

.productTextInfo {
  height: 15rem;
  position: relative;
  padding: 0 1rem 1rem 1rem;
  color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productName {
  font-weight: 400;
}

.productPrice {
  font-weight: 400;
}

.moreInfoButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-weight: 400;
  background-color: #ffb69e;
  border-radius: 8px;
  border: 1.5px solid transparent;
  padding: 0.6em 1.2em;
}
