/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Header y Navbar */
header {
  width: 97%;
  background-color: rgba(255, 194, 160, 1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.puretreats_logo {
  width: 80px;
  height: 80px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

a:hover {
  color: #fe6a80;
}

/* Botón de inicio */
.button_start {
  background-color: #fe6a80;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_start:hover {
  background-color: #ff3d54;
}

/* Menú Hamburguesa para móvil */
.menu_icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .menu_icon {
    display: block;
  }

  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 194, 160, 1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  ul.active {
    display: flex;
  }

  li {
    margin: 10px 0;
  }
}
