footer {
  display: flex;
  align-items: center;
  background: #82a360;
  color: white;
  padding: 1rem 6rem;
  justify-content: space-between;
  height: 8rem;
}

.corporative-footer {
  display: flex;
  align-items: center;
}

.copyright {
  font-weight: 200;
  padding-left: 1rem;
}

.footer-logo {
  max-width: 5rem;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.social-icons-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.socialLogo {
  width: 2rem;
  height: auto;
  margin-right: 0.65rem;
}

.social-icons a:hover {
  opacity: 0.8;
}

.contact {
  display: flex;
  gap: .5rem;
  font-weight: 200;
}
