
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 2em; 
    font-weight: bold;
    color: #fe6a80;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.2em;
    margin: 0;
  }
  
  /* Media Query para dispositivos de escritorio */
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; 
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.5em; 
    }
  }
  
  